<?xml version="1.0" encoding="utf-8" ?>
<!--This is a copy of the App.config file with dummy values since the actual values are not in source control
This file needs to be renamed as App.config when deployed or in development, the actual App.config file should never be committed to source control-->
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="SourceServerPath" value="dummypath"/>
        <add key="DestinationServerPath" value="dummypath"/>
        <add key="CurrentPath" value="dummypath"/>
        <add key="WorkingPath" value="dummypath"/>
        <add key="CorporationsPath" value="dummypath"/>
        <add key="XMLWorkPath" value="dummypath"/>
        <add key="XMLHeaderFile" value="dummyfile"/>
        <add key="CombinedXMLFile" value="dummyfile"/>
        <add key="OutputXMLFile" value="dummyfile"/>
        <add key="CrnXslFile" value="dummyfile"/>
        <add key="SaxonFile" value="dummyfile"/>
        <add key="CmdFile" value="dummyfile"/>
        <add key="ComputerDrive" value="dummydrive"/>
        <add key="AgentFile" value="dummyfile"/>
        <add key="PDFWorkPath" value="dummypath"/>
        <add key="CrnHeaderFile" value="dummyfile"/>
        <add key="HtmlHeaderFile" value="dummyfile"/>
        <add key="HtmlFooterFile" value="dummyfile"/>
        <add key="OutputPath" value="dummypath"/>
        <add key="OutputPathShort" value="dummypath"/>
    </appSettings>
</configuration>